<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<form ng-submit="loginForm()" class="clearfix">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-lg btn-success">Login</button>
		  <button type="reset" class="btn btn-lg btn-warning pull-right">Clear</button>
		  <br /><br />
		  <a href="#/register" class="btn btn-sm btn-default btn-block">Register New User</a>
		</form>
	</div>
</div>